/** {
  border: 0;
  padding: 0;
  margin: 0;
}**/
html {
  font-family: Heveltica, Arial, sans-serif;
  font-size: 10px;
}
h2 {
  font-size: 2rem;
}
ul, ol, dl, p {
  font-size: 1.5rem;
}
li, p {
  line-height: 1.5;
}
dd, dt {
  line-height: 1.5;
}
dt {
  font-weight: bold;
}
dd {
  margin-bottom: 1.5rem;
}
ul {
  list-style-image: url(Screenshot.png);
}
ol {
  list-style-type: upper-roman;
  list-style-position: inside;
}
